{% extends "layout.html" %}

{% block content %}

<div class="main-container" style="height:150px">
    <div id="sbox" style="margin-top: 50px;
    text-align: center;">
        <form method="get" action="/taxcodetfidfsearch" style="display: block;
        margin-top: 0em;" class="nav-searchbar">
            <div class="wrapper" style="border: black">
                <input name="search_box" class="inactive" type="text" id="qfield" style="
                width: 800px;
                height: 40px;
                font-size: 18px;
                color: black;
                " value="{{search_str}}"
                >

                <select name='number_display' style="float: left;height: 40px; width: 130px">

                    <option value="3">Show : {{ show }}</option>
                    <option value="3">Show 3</option>
                    <option value="5">Show 5</option>
                    <option value="10">Show 10</option>
                </select>
            </div>
        </form>
    </div>
</div>


<div>
    {% if results %}
    <div class="row" style="margin-left: auto;
    margin-right: auto;
    background: white">
        {% if return_code == 0 %}
            <div>
                Tax Code is:
            <br>
            <br>
            </div>
            <span class='tt'></span>
            {% if final_code == 1 %}
                <h4 style="color:black;float:left">
                No Results Can Be Searched
                </h4>
            {% else %}
                {% for row in results %}
                <div class="apaper">
                <h4 style="color:black;float:left">
                    {{ results[row]['title'] }}
                </h4>
                <br>
                <br>
                <span class='tt'></span>
                <br>
                </div>
            {% endfor %}

            {% endif %}

        {% elif return_code == 1 %}
            <div>
                Here is what we found in the tax code:
            <br>
            <br>
            </div>
            <span class='tt'></span>
            {% if final_code == 1 %}
                <h4 style="color:black;float:left">
                No Results Can Be Searched
                </h4>
            {% else %}
                {% for row in results %}
                    <div class="apaper">
                        <h4 style="color:black;float:left">
                            {{ results[row]['title'] }}
                        </h4>
                        <br>
                        <br>
                        <span class='tt'>
                        <p style="background-color: #EFE;font-size: 14px;display: block;padding: 10px;border-radius: 5px;text-align: justify;">{{ results[row]['text'] }} </p>
                    </span>
                        <br>
                    </div>
                {% endfor %}

            {% endif %}
        {% else %}
            <br>
            {{ results }}
        {% endif %}

    </div>
    {% else %}
    &emsp;
    <h1>Type your question to start !</h1>
    &emsp;
    {% endif %}
</div>

{% endblock %}


